In [1]:
import pandas as pd
import sqlite3

In [2]:
!pip install ipython-sql

Collecting ipython-sql
  Obtaining dependency information for ipython-sql from https://files.pythonhosted.org/packages/30/8f/9e50fa53ffc371483f9d1b90c1175b706d28a2e978e90a8894035af01905/ipython_sql-0.5.0-py3-none-any.whl.metadata
  Using cached ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Obtaining dependency information for prettytable from https://files.pythonhosted.org/packages/3d/c4/a32f4bf44faf95accbbd5d7864ddef9e289749a8efbc3adaad4a4671779a/prettytable-3.10.0-py3-none-any.whl.metadata
  Using cached prettytable-3.10.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in c:\users\hp\anaconda3\lib\site-packages (from ipython-sql) (8.15.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Obtaining dependency information for sqlalchemy>=2.0 from https://files.pythonhosted.org/packages/83/34/e760f4e78b2aeb04a74ae7338f9c215570a256755ab0026336037ec8df75/SQLAlchemy-2.0.29-cp311-cp311-win_amd64.whl.metadata
  Downloading SQLAlchemy-2.0.29-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Collecting sqlparse (from ipython-sql)
  Obtaining dependency information for sqlparse from https://files.pythonhosted.org/packages/43/5d/a0fdd88fd486b39ae1fd1a75ff75b4e29a0df96c0304d462fd407b82efe0/sqlparse-0.5.0-py3-none-any.whl.metadata
  Downloading sqlparse-0.5.0-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\hp\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\hp\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hp\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\hp\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\hp\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\hp\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\hp\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\hp\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Using cached ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.29-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB 330.3 kB/s eta 0:00:07
    --------------------------------------- 0.0/2.1 MB 330.3 kB/s eta 0:00:07
    --------------------------------------- 0.0/2.1 MB 151.3 kB/s eta 0:00:14
   - -------------------------------------- 0.1/2.1 MB 204.8 kB/s eta 0:00:10
   - -------------------------------------- 0.1/2.1 MB 262.6 kB/s eta 0:00:08
   - -------------------------------------- 0.1/2.1 MB 262.6 kB/s eta 0:00:08
   - -------------------------------------- 0.1/2.1 MB 262.6 kB/s eta 0:00:08
   -- ------------------------------------- 0.1/2.1 MB 284.4 kB/s eta 0:00:07
   --- ------------------------------------ 0.2/2.1 MB 298.3 kB/s eta 0:00:07
   --- ------------------------------------ 0.2/2.1 MB 328.0 kB/s eta 0:00:06
   ---- ----------------------------------- 0.2/2.1 MB 354.3 kB/s eta 0:00:06
   ---- ----------------------------------- 0.2/2.1 MB 354.3 kB/s eta 0:00:06
   ---- ----------------------------------- 0.2/2.1 MB 320.5 kB/s eta 0:00:06
   ----- ---------------------------------- 0.3/2.1 MB 348.8 kB/s eta 0:00:06
   ----- ---------------------------------- 0.3/2.1 MB 360.2 kB/s eta 0:00:05
   ------ --------------------------------- 0.3/2.1 MB 376.6 kB/s eta 0:00:05
   ------ --------------------------------- 0.3/2.1 MB 374.5 kB/s eta 0:00:05
   ------ --------------------------------- 0.3/2.1 MB 374.5 kB/s eta 0:00:05
   ------ --------------------------------- 0.3/2.1 MB 374.5 kB/s eta 0:00:05
   -------- ------------------------------- 0.4/2.1 MB 417.1 kB/s eta 0:00:04
   --------- ------------------------------ 0.5/2.1 MB 427.5 kB/s eta 0:00:04
   --------- ------------------------------ 0.5/2.1 MB 434.0 kB/s eta 0:00:04
   ---------- ----------------------------- 0.5/2.1 MB 425.6 kB/s eta 0:00:04
   ----------- ---------------------------- 0.6/2.1 MB 458.8 kB/s eta 0:00:04
   ----------- ---------------------------- 0.6/2.1 MB 466.2 kB/s eta 0:00:04
   ------------ --------------------------- 0.6/2.1 MB 470.4 kB/s eta 0:00:04
   ------------- -------------------------- 0.7/2.1 MB 478.8 kB/s eta 0:00:03
   ------------- -------------------------- 0.7/2.1 MB 488.0 kB/s eta 0:00:03
   -------------- ------------------------- 0.7/2.1 MB 493.3 kB/s eta 0:00:03
   -------------- ------------------------- 0.8/2.1 MB 498.3 kB/s eta 0:00:03
   --------------- ------------------------ 0.8/2.1 MB 510.0 kB/s eta 0:00:03
   --------------- ------------------------ 0.8/2.1 MB 514.2 kB/s eta 0:00:03
   ---------------- ----------------------- 0.8/2.1 MB 505.8 kB/s eta 0:00:03
   ---------------- ----------------------- 0.9/2.1 MB 514.8 kB/s eta 0:00:03
   ---------------- ----------------------- 0.9/2.1 MB 514.8 kB/s eta 0:00:03
   ---------------- ----------------------- 0.9/2.1 MB 514.8 kB/s eta 0:00:03
   ---------------- ----------------------- 0.9/2.1 MB 514.8 kB/s eta 0:00:03
   ---------------- ----------------------- 0.9/2.1 MB 514.8 kB/s eta 0:00:03
   ---------------- ----------------------- 0.9/2.1 MB 514.8 kB/s eta 0:00:03
   -------------------- ------------------- 1.1/2.1 MB 536.8 kB/s eta 0:00:02
   --------------------- ------------------ 1.1/2.1 MB 535.5 kB/s eta 0:00:02
   --------------------- ------------------ 1.1/2.1 MB 532.2 kB/s eta 0:00:02
   ---------------------- ----------------- 1.2/2.1 MB 536.7 kB/s eta 0:00:02
   ----------------------- ---------------- 1.2/2.1 MB 543.1 kB/s eta 0:00:02
   ------------------------ --------------- 1.3/2.1 MB 552.2 kB/s eta 0:00:02
   ------------------------- -------------- 1.3/2.1 MB 558.1 kB/s eta 0:00:02
   ------------------------- -------------- 1.3/2.1 MB 552.7 kB/s eta 0:00:02
   -------------------------- ------------- 1.4/2.1 MB 558.3 kB/s eta 0:00:02
   -------------------------- ------------- 1.4/2.1 MB 558.3 kB/s eta 0:00:02
   -------------------------- ------------- 1.4/2.1 MB 558.3 kB/s eta 0:00:02
   -------------------------- ------------- 1.4/2.1 MB 558.3 kB/s eta 0:00:02
   -------------------------- ------------- 1.4/2.1 MB 558.3 kB/s eta 0:00:02
   -------------------------- ------------- 1.4/2.1 MB 558.3 kB/s eta 0:00:02
   -------------------------- ------------- 1.4/2.1 MB 558.3 kB/s eta 0:00:02
   -------------------------- ------------- 1.4/2.1 MB 558.3 kB/s eta 0:00:02
   -------------------------- ------------- 1.4/2.1 MB 558.3 kB/s eta 0:00:02
   -------------------------- ------------- 1.4/2.1 MB 558.3 kB/s eta 0:00:02
   -------------------------- ------------- 1.4/2.1 MB 558.3 kB/s eta 0:00:02
   -------------------------- ------------- 1.4/2.1 MB 558.3 kB/s eta 0:00:02
   -------------------------- ------------- 1.4/2.1 MB 558.3 kB/s eta 0:00:02
   -------------------------- ------------- 1.4/2.1 MB 558.3 kB/s eta 0:00:02
   -------------------------- ------------- 1.4/2.1 MB 558.3 kB/s eta 0:00:02
   -------------------------- ------------- 1.4/2.1 MB 558.3 kB/s eta 0:00:02
   -------------------------- ------------- 1.4/2.1 MB 423.2 kB/s eta 0:00:02
   ------------------------------------ --- 1.9/2.1 MB 570.8 kB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 570.8 kB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 570.8 kB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 570.8 kB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 570.8 kB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 570.8 kB/s eta 0:00:01
   ------------------------------------- -- 2.0/2.1 MB 546.2 kB/s eta 0:00:01
   -------------------------------------- - 2.0/2.1 MB 547.6 kB/s eta 0:00:01
   ---------------------------------------  2.0/2.1 MB 552.3 kB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 555.8 kB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 555.8 kB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 555.8 kB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 535.3 kB/s eta 0:00:00
Using cached prettytable-3.10.0-py3-none-any.whl (28 kB)
Downloading sqlparse-0.5.0-py3-none-any.whl (43 kB)
   ---------------------------------------- 0.0/44.0 kB ? eta -:--:--
   ---------------------------------------- 44.0/44.0 kB 717.7 kB/s eta 0:00:00
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed ipython-sql-0.5.0 prettytable-3.10.0 sqlalchemy-2.0.29 sqlparse-0.5.0

In [3]:
df= pd.DataFrame({'name': ['Juan', 'Victoria', 'Mary'], 
                  'age': [23,34,43], 
                  'city': ['Miami', 'Buenos Aires','Santiago']})

In [4]:
df

       name  age          city
0      Juan   23         Miami
1  Victoria   34  Buenos Aires
2      Mary   43      Santiago

In [5]:
cnn = sqlite3.connect('jupyter_sql_tutorial.db')
df.to_sql('people', cnn)
%load_ext sql

%sql sqlite:///jupyter_sql_tutorial.db

In [6]:
%%sql
SELECT *
FROM people

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(0, 'Juan', 23, 'Miami'),
 (1, 'Victoria', 34, 'Buenos Aires'),
 (2, 'Mary', 43, 'Santiago')]

In [7]:
%%sql
SELECT sum(age) as 'age_sum'
FROM people

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(100,)]

In [8]:
%%sql
SELECT count(city)
FROM people

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(3,)]

In [9]:
%%sql
SELECT avg(age) as 'age_sum'
FROM people

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(33.333333333333336,)]

In [10]:
%%sql
SELECT max(age) as 'age_sum'
FROM people

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(43,)]

In [11]:
%%sql
SELECT min(age) as 'age_sum'
FROM people

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(23,)]