In [2]:
# Assuming class1 is a list of numbers
class1 = [1, 2, 3, 4, 5, 6]

i = 0
while i < len(class1):  # Correct syntax with colon
    print(class1[i])  # Access and print the element at index i
    i += 1  # Increment the loop counter

1
2
3
4
5
6

In [4]:
class1 = [1, 2, 3, 4, 5, 6]  # Assuming this is the intended definition of `class`

addition = ('eight', 'nine', 'ten')

# Concatenate class1 and addition using the + operator
combined_list = class1 + list(addition)

print(combined_list)

[1, 2, 3, 4, 5, 6, 'eight', 'nine', 'ten']

In [5]:
newnumber=('eight','nine','ten','eight','nine','ten')
r=newnumber.index('nine')
print(r)

1

In [8]:
# Create a tuple
my_tuple = (10, "apple", True)

In [9]:
first_element = my_tuple[0]

In [6]:


# Access elements by index
first_element = my_tuple[0]  # first_element will be 10
second_element = my_tuple[1]  # second_element will be "apple"

# Slicing
sub_tuple = my_tuple[1:3]  # sub_tuple will be ("apple", True)

# Tuples are immutable
my_tuple[0] = 20  # This will cause an error

# You can create a new tuple with modifications
new_tuple = (20, *my_tuple[1:])  # new_tuple will be (20, "apple", True)

TypeError: 'tuple' object does not support item assignment

In [13]:
file=open('Testing.csv','w')
contents=file.write()
print(contents)
file.close()

TypeError: TextIOWrapper.write() takes exactly one argument (0 given)